.wrap-authorization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.logo-authorization{
   margin-top: 120px;
  //  margin-bottom: 77px;
}
.authorization {
  margin-top: 78px;
  margin-bottom: 40px;
}

.authorization__header {
  padding: 22px 146px 23px 145px;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
background: #F9892B;
}


.authorization__header h2 {
  color: #1C1C1C;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.authorization__form{

  display: flex;
  padding: 43px 101px 42px 102px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
border: 1px solid #F9892B;
}

.form-input {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 12px;

  border-radius: 10px;
border: 1px solid var(--FDCFAA, #FDCFAA);
background: #FFF;
}

.form-input i {
  width: 18px;
  height: 18px;
  padding-left: 8px;
}


.form-input label {
  display: block;
  margin-bottom: 5px;
}

.form-input input[type="text"],
.form-input input[type="password"],
.form-input input[type="submit"] {
  width: 80%;
  padding-top: 14px;
  padding-bottom: 14px;

  background-color: transparent;
  border: none; /* Без границ для input */
  outline: none; /* Убрать контур */
}



.form-input input[type="submit"] {
display: flex;
width: 180px;
height: 40px;
padding: 14px 90px;
justify-content: center;
align-items: center;
border-radius: 10px;
background: var(--F9882B, #F9882B);

cursor: pointer;
}

.form-input input[type="submit"]:hover{
  border: 1px solid var(--F9882B, #F9882B);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.12);
  }
  
  .form-input input[type="submit"]:active {
    border: 1px solid var(--F9882B, #F9882B);
    background: var(--FBB880, #FBB880);
  }


.image-container {
  width: 100%;
  display: flex;
  position: relative;
  height: 252px;
  overflow: hidden;
}

.image__wave {
  position: absolute;
  width: 100%;
  height: 252px;
  background-repeat: no-repeat;
  background-size: cover;
    overflow: hidden; /* Или используйте 'contain', в зависимости от нужного эффекта */
}

#wave1 {
  background-image: url('../../assets/img/GroupWave.jpg');
  z-index: 1;
  top: 0;
  left: 0;
}

// .toggle-password {
//   cursor: pointer;
//   color: #007BFF;
//   font-size: 14px;
//   margin-left: 5px;
// }
