.recipeMenu_img{
  margin-left: 320px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

}

.recipeMenu_img img{
  display: flex;
  align-items: center;
  justify-content: center;
}