


.table td.role-admin span {
  padding: 3px 28px;
  border-radius: 20px;
  background-color: rgb(253, 229, 97);
}

.table td.role-user span {
  padding: 3px 20px;
  border-radius: 20px;
  background: rgb(255, 184, 47);
}